# 这里的配置也可以在packages.json中的publishConfig属性进行配置，但是package.json 的配置优先级更低
registry=https://registry.npmjs.org/
# registry=http://127.0.0.1:4873/

# 配置仓库认证信息，用于私有仓库读取或上传npm包：
# always-auth=true
# _auth="用户名:密码"的base64编码

# cache=~/.cache/npm_cache

# :前为仓库地址去掉http:/https:
# //repo.huaweicloud.com/repository/npm/:_auth=xxxxxx
