@import '../../../styles/base.less';

@primary-background-color: #6020df;

:root {
  --lc-input-default-border-color: @primary-background-color;
}

.@{lc-prefix}-input {
  // border: 1px solid var(--lc-input-default-border-color);
  // border: 1px solid #f40;
  // &:hover,
  // &:focus,
  // &:active {
  //   border-color: 1px solid #f20 !important;
  //   padding: 0;
  // }

  &--small {
    height: 16px;
  }

  &--medium {
    height: 20px;
  }

  &--large {
    height: 24px;
  }
}
